@model IEnumerable<AplicacionMvc.Models.Client>

@{
    ViewData["Title"] = "Index";
}


<h2 class="d-flex justify-content-center m-2">Clientes</h2>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-6">
            <div id="modal-placeholder"></div>
            <button type="button" class="btn btn-info form-control col-3" data-toggle="ajax-modal"
                    data-target="#add-client" data-url="@Url.Action("Create")">
                Nuevo
            </button>
        </div>
        <form class="d-flex" asp-action="Index" method="post">
            <input class="form-control mr-2" id="filtrar" name="filtrar" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</nav>



<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    <a class="btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detalle</a>
                    <a class="btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>